extends ./layout.pug

block body
    .container.bio
        .row.center-xs
            .col-xs-12.col-sm-5.col-md-4.pic
                img(src=document.results[0].data.portrait.url)
            .col-xs-10.col-sm-6.col-md-5.col-sm-offset-1.about
                != PrismicDOM.RichText.asHtml(document.results[0].data.about, ctx.linkResolver)
