extends ./layout.pug

block body
  img(src=document.data.image.url).detail-image
  .container
    .row
      .col-xs-10.col-sm-6.col-xs-offset-1.col-sm-offset-3
        != PrismicDOM.RichText.asHtml(document.data.title, ctx.linkResolver)
        != PrismicDOM.RichText.asHtml(document.data.description, ctx.linkResolver)

    .row 
      each image in document.data.gallery
        .gallery-image.col-xs-12
          img(src=image['gallery-image'].url)
