html {
    font-size: 100%;
}

body {
    //-webkit-text-stroke-width: .05px;
    //-webkit-text-stroke-color: white;
    -webkit-font-smoothing: antialiased;
    font-family: Alata, sans-serif;
    font-size: 18px;
    line-height:35px;
    font-weight: 400;
    letter-spacing: 0.45;
    color: black;
}

.nav {
    width: 101vw;
    top: 0;
    background-color: white;
    padding: 40px 10px;
}

.nav .links {
    display: inline;
    color: black !important;
    text-decoration: none !important;
    font-size: 150%;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .nav {
        padding: 20px 5px;
    }

    .nav .links,
    .nav h1 {
        text-align: center;
        padding: 10px 0;
    }
}

h1 {
    font-size: 150%;
}

img {
    max-width: 100%;
}

.work {
    position: relative;
}

.work h1 {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: black !important;
    padding-left: 5px;
}

.work:hover h1 {
    display: block;
}

.bio {
    text-align: left;
    margin-top: 50px;
}

.bio img {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .bio {
        margin-top: 0;
    }
    .bio .about{
        padding-top: 50px;
    }
}
