html {
    font-size: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    //-webkit-text-stroke-width: .05px;
    //-webkit-text-stroke-color: white;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height:35px;
    font-weight: 400;
    letter-spacing: 0.45;
    color: black;
    width: 100%;
    overflow-x: hidden;
}

.nav {
    background-color: white;
    padding: 40px 0;
    overflow-x: hidden;
    width: 100%;
    margin: 0 !important;
}

.nav .links {
    display: inline;
    color: black !important;
    text-decoration: none;
    font-size: 150%;
    text-align: right;
    text-transform: uppercase;
}

.nav .links:hover {
    text-decoration: underline;
}

.nav h1 a{
    text-decoration: none !important;
    color: black !important;
    font-size: 200%;
}

@media only screen and (max-width: 768px) {
    .nav h1 a{
        font-size: 150%;
    }

    .nav {
        padding: 20px 5px;
    }

    .nav .links {
        font-size: 100%;
    }

    .nav .links,
    .nav h1 {
        text-align: center;
        padding: 10px 0;
    }
}


h1 {
    font-weight: 800;
    font-size: 200%;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-weight: 400;
        font-size: 150%;
    }
}

img {
    max-width: 100%;
    font-weight: 800;
}

.work {
    position: relative;
}

.work h1 {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 2;
    font-weight: 400;
    font-size: 200%;
    color: black !important;
    padding-left: 5px;
    background-color: white;
}

.work:hover h1 {
    display: block;
}

@media only screen and (max-width: 768px) {
    .work h1 {
        display: block;
        top: 0;
        bottom: auto;
    }
}


.bio {
    text-align: left;
    margin-top: 50px;
}

.bio img {
    width: 100%;
}

.bio .about{
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .bio {
        margin-top: 0;
    }
    .bio .about{
        padding-top: 50px;
    }
}

.detail-image {
    margin-bottom: 100px;
    width: 100%;
    object-fit: scale-down;
    max-height: 800px;
}

.gallery-images {
    margin-top: 100px !important;
    margin-bottom: 400px !important;
}

.gallery-image{
    margin: 0 auto;
    text-align: center;
}

.gallery-image img {
    max-height: 500px;
    margin: 0 auto;
}

.slick-slide {
    height: auto !important;
    outline: none !important;
}

.slick-dots {
    bottom: -50px !important;
}
